body {
    background-color :rgb(230, 211, 230);
}

.btn {
    cursor: pointer;
}

h1 {
    color :white
    transition: color .5s ease-in-out;
}

.form,
.greetings {
    display: none;
    color : white
}

.showing {
    display: block;
}

@keyframes fadeIN {
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}

.bgimage {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation : fadeIN 0.5s linear;
}

.js-clock,span {
    color : rgb(252, 252, 252)