body {
    background-color :rgb(230, 211, 230);
}

h1 {
    color :white
    transition: color .5s ease-in-out;
    text-align:center;
}

.form,
.greetings {
    display: none;
    color : white;
    text-align:center;
}

.showing {
    display: block;
}

@keyframes fadeIN {
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}

.bgimage {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation : fadeIN 0.5s linear;
}

.js-toDoForm, .js-clock{
    color : white;
    text-align:center;
}

input{
    background : transparent;
    border : none;
}

input::-webkit-input-placeholder {
    opacity : 1;
    color:white;
    border-bottom :white 5px solid;
}

.js-weather{
    position:relative;
    top:50px;
    left:20px;
}


ul{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

button {
    cursor: pointer;
    background-color: transparent;
    font-size : 1.5em;
    border : none;
}
    